<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<thead>
<tr>
  <th>name</th>
  <th>countryCode</th>
  <th>url</th>
  <th>url2</th>
  <th>url3</th>
  <th>url4</th>
  <th>url5</th>
  <th>description</th>
  <th>category</th>
  <th>language</th>
  <th>isFavourite</th>
</tr>
</thead>

<tbody>
<tr>
  <td th:text="${station.name}"></td>
  <td th:text="${station.countryCode}"></td>
  <td th:text="${station.url}"></td>
  <td th:text="${station.url2}"></td>
  <td th:text="${station.url3}"></td>
  <td th:text="${station.url4}"></td>
  <td th:text="${station.url5}"></td>
  <td th:text="${station.description}"></td>
  <td th:text="${station.category}"></td>
  <td th:text="${station.language}"></td>
  <td th:text="${station.isFavourite}"></td>
</tr>
</tbody>
</table>
</body>
</html>