<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' debug="false">
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH,mm,ss,SSS} %p [%c@%t] %m\r\n"/>
        </layout>
    </appender>
    <category name="uk.co.jemos">
        <priority value="ERROR"/>
    </category>
    <category name="org.dizitart">
        <priority value="ERROR"/>
    </category>
    <root>
        <priority value="ALL"/>
        <appender-ref ref="Console"/>
    </root>
</log4j:configuration>
